:root {
    --orange: #ff5912;
    --gray: #3c4751;
    --gray2: #34404b;
    --lightgray: #495662;
    --background: #f4f6f8;
}

body {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    background-color: var(--background);
}

header {
    padding: 25px 0 0 0;
    background: #fff;
}

.grid {
    display: grid;
}

.content-center {
    width: 80%;
    margin: 0 auto;
    padding: 0 10px;
}

.header-grid {
    display: grid;
    grid-template-columns: 339px 1fr;
    justify-items: end;
    margin: 0 0 30px 0;
}

.header {
    display: grid;
    grid-template-columns: 15% 70% 1fr;
}

.header-img {
    margin: 0 10px 0 0;
}

.header-email {
    margin: 0 26px 0 0;
}

.user {
    justify-self: end;
}

.header-iconcsicial img {
    margin-right: 22px;
}

.header-iconcsicial img:last-child {
    margin: 0;
}

.header-logo {
    align-self: center;
}

.user {
    align-self: center;
}

.user img {
    margin-right: 35px;
}

.user img:last-child {
    margin: 0;
}

.header-navigation__list li {
    list-style-type: none;
    display: inline-block;
}

.header-navigation__list li a {
    padding: 0 20px;
    font-size: 16px;
    color: var(--gray2);
    text-decoration: none;
    text-transform: capitalize;
}

.active {
    color: var(--orange);
}

.header-navigation__list li a:hover {
    color: var(--orange);
}

.header-navigation__list li a.active {
    color: var(--orange);
}


.header-bg {
    background-image: url(../img/bggerl.png);
    background-size: cover;
    height: 650px;
    display: grid;
    align-items: center;
}

.header-slogan {
    padding: 0 0 0 100px;
    position: relative;
}

.header-slogan__item {
    font-size: 52px;
    color: var(--orange);
}

.header-slogan h1:first-child+p {
    font-size: 18px;
    color: var(--gray);
}

.header-slogan h1:first-child+p+p {
    font-size: 16px;
    color: var(--lightgray);
}

span.price {
    font-size: 16px;
    color: var(--gray2);
    margin-right: 35px;
}

.header-slogan:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 35%;
    height: 40px;
    width: 10px;
    /* or 100px */
    border-left: 10px solid var(--orange);
}

.header-slogan__cart {
    margin-right: 17px;
}

.header-slogan__order {
    color: var(--orange);
    font-size: 18px;
}

.arrivals {
    text-align: center;
    padding: 120px 0 30px 0;
}

.arrivals-slogan {
    font-size: 36px;
    margin-bottom: 30px;
}

.arrivals-slogan span {
    color: var(--orange);
}

.arrivals-description {
    font-size: 16px;
    color: var(--lightgray);
}

.arrivals-content {
    margin-bottom: 110px;
}

.arrivals-content__block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 120px;
    grid-gap: 20px;
}

.arrivals-content__product {
    padding: 35px 0 30px 0;
    color: var(--gray2);
}

.arrivals-content__price {
    color: var(--orange);
}

.arrivals-content__size {
    padding: 35px 0;
    font-size: 14px;
}

.arrivals-content__colors {
    margin-bottom: 20px;
}

.arrivals-content__info img {
    margin-right: 30px;
}

.arrivals-content__info span:last-child img {
    margin: 0;
}

.arrivals-content__item {
    background: #fff;
    padding: 30px;
}

.circle {
    margin-bottom: 170px;
    padding: 20px;
    background: #fff;
}

main {
    background-color: var(--background);
}

.full {
    display: grid;
    grid-template-columns: 700px 1fr;
    grid-gap: 20px;
    align-content: center;
    padding: 0 0 120px 0;
}

.full img:first-child {
    justify-self: center;
}

.full__price {
    font-size: 33px;
    color: var(--orange);
}

.full-writter {
    display: grid;
    grid-template-columns: 100px 350px 1fr;
    background-color: #fff;
    padding: 20px;
    align-items: center;
}

.full-slogan {
    font-size: 22px;
}

.full-writter__description {
    font-size: 12px;
}

.full-writter__right {
    background-color: #fff;
}

.boards {
    background: #fff;
    padding-top: 40px;
}

.best-slogan {
    margin-bottom: 85px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.card-grid__items {
    display: grid;
    grid-template-columns: 140px 180px;
    background-color: #fff;
    padding: 40px 15px;
    align-items: center;
}

.rate-img {
    vertical-align: middle;
}

.rate-price {
    font-size: 16px;
    color: var(--orange);
    justify-self: end;
}

.rate-name {
    margin-bottom: 40px;
    font-weight: bold;
}

.rate-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.rate-block img {
    align-self: flex-end;
}

.add-cart__img {
    margin-right: 10px;
}

.add-cart {
    font-size: 16px;
    color: var(--orange);
}

.news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 210px 0 270px 0;
}

.news-letter {
    padding: 20px;
}

.news-letter__items {
    text-transform: uppercase;
    margin-right: 40px;
    color: var(--orange);
    font-weight: bold;
    font-size: 18px;
}

.news-letter__items+span {
    font-size: 14px;
}

[type="text"] {
    font-size: 14px;
    color: #7c8791;
    padding: 20px 35px;
    outline: none;
    border: none;
    margin-right: 100px;
    background: url(../img/email.png) no-repeat left center;
}

[type="submit"] {
    font-size: 14px;
    background: var(--orange);
    padding: 15px 20px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

footer {
    padding: 30px 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
}

.footer-payment {
    justify-self: center;
}

.footer-menu {
    justify-self: center;
}

.footer-menu ul li a {
    list-style-type: disc;
    padding: 10px;
    display: block;
}

.footer-payment__name {
    text-transform: capitalize;
}

.footer-logo-copyrite div+div {
    font-size: 14px;
    color: #28313b;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-payment__name {
    color: var(--orange);
    margin-bottom: 24px;
}

.sub-footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 14px;
    grid-column-gap: 100px;
}

/* media query */

@media (max-width:1220px) {
    .arrivals-content__block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 120px;
        grid-gap: 20px;
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .sub-footer-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 14px;
    }
}
@media (max-width:1180px){
    .news {
        display: grid;
        grid-template-columns: 1fr;
        padding: 210px 0 270px 0;
    }
    .full {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        align-content: center;
        padding: 0 0 120px 0;
    }
}
@media (max-width:1160px){
    .header-navigation__list{
        display: none;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .arrivals-content__block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 120px;
        grid-gap: 20px;
    }
    .footer-menu{
        display: none;
    }
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}